# Python files and folders
*.pyc
__pycache__

# VS code
.vscode/

# Environments
.env
.venv/
venv/

# audio files
*.wav

# log files
*.log

# databases
*.db

# pytest
.pytest_cache

# images
waveform.png

# Tensorflow models
*.tf/
