{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content%}
<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
</style>

<br /><br /><br /><br />
<h1 align="center">Welcome to the FHNW Software Engineering Project</h1>
<h3 align="center">by Olivier & Angelo</h3>


<br /><br /><br /><br />
<img src="static/img/CICD_pipeline.jpg" alt="pipeline" class="center">
<br /><br />
<h4 align="center">https://github.com/olivier-2018/SoftwareEngg_project</h4>

{% endblock %}
