{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content%}

<center>
  <form method="POST">
    <br />
    <h2 align="center">Login</h2>
    <br />

    <div class="col-lg-6"  align="left">
      <div class="form-group" >
        <label for="userName">Username</label>
        <input
          type="userName"
          class="form-control"
          id="userName"
          name="userName"
          placeholder="Enter username"
        />
      </div>
      <div class="form-group" >
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</center>

{% endblock %}
px
