{% extends "base.html" %}

{% block title %}Single_digit_prediction_from_microphone{% endblock %}

{% block content %}
  <br />
  <h2 align="center">Prediction</h1>
  <br />

<form method="post" enctype="multipart/form-data">


<div  float:left ; width=60%>
    <h3>Step 1 - Select a wav file</h3>

    <div class="form-group col-lg-5" >
        <label for="formFile" class="form-label">Select a wav audio file using the browse button below</label>
        <input class="form-control" type="file" name="file" id="formFile">
    </div>
    <br>
    <h3>Step 2 - Upload selected file</h3>
    <div class="form-group col-lg-5" >
        <input type="submit" class="btn btn-primary btn-sm" id="submitButton" value="upload" />
    </div>

    </form>

    {% if model_prediction != "" %}
    <br>
    <h3>Step 3 - Running the ML model </h3>



    <div class="card text-white bg-primary mb-3" style="max-width: 10rem;">
        <div class="card-header">Prediction</div>
        <div class="card-body">
          <h4 class="card-title">{{ model_prediction }}</h4>
          <p class="card-text"> </p>
        </div>
    </div>
    {% endif %}

</div>


{% endblock %}
